@import 'mixins';

.navbar {
    margin-top: 10vmin;
    display: grid;
    grid-template-areas:'menu search';
    grid-template-columns: 2fr 1fr;
    column-gap: 5vmin;

    .buttons-frame {
        grid-area: menu;
        // border: 3px solid rgb(65, 65, 65);
        // box-shadow: 0 0 2px 3px;
        border: 3px solid rgb(236, 193, 52);
        box-shadow: 0 0 4px 6px #0266d8, 0px 7px 4px 0px black, inset 0 0 5px 2px black;
        border-radius: 10px;
        background-color: rgb(100, 100, 100);
        height: 5vmin;

        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        column-gap: 1vmin;
        padding-left: 5px;
        
        .nav-button {
            @include flexCenter(row);
            // border: 3px solid rgb(58, 58, 58);
            border: 2px solid rgb(236, 193, 52);
            box-shadow: 0 0 4px 2px #0266d8, 0px 3px 4px 0px black, inset 0 0 5px 1px black;
            border-radius: 5px;
            font-size: 1.3rem;
            font-family: monospace;
            font-style: italic;
            height: 80%;
            width: 90%;
            background-color: rgb(153, 153, 153);
            cursor: pointer;
            align-self: center;
            transition: transform .3s;

            &:hover {
                transform: translateY(-15%);
            }

        }
    }
    .search-bar {
        grid-area: search;
        // border: 3px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
        
        #search-bar {
            height: 5vmin;
            width: 15vmin;
            background-color: rgb(100, 100, 100);
            // border: 3px solid rgb(59, 59, 59);
            // box-shadow: 0 0 2px 3px;
            border: 3px solid rgb(236, 193, 52);
            box-shadow: 0 0 4px 6px #0266d8, 0px 7px 4px 0px black, inset 0 0 5px 2px black;
            border-radius: 10px;
            font-size: 1.5rem;
            outline: none;
            transition: border .3s, box-shadow .3s;

            &:focus-within {
                border: 3px solid lighten(rgb(236,193,52), 15%);
                box-shadow: 0 0 4px 6px lighten(#0266d8, 15%), 0px 7px 4px 0px black, inset 0 0 5px 2px black;
            }
            

        }
        #search-results {
            a {
                font-size: 1.5rem;
                font-family: monospace;
                color: black;
                line-height: 2.5rem;
                &:hover {
                    background-color: darken(gray, 8%);
                    color: rgb(122, 179, 245);
                }
            }
            & a:not(:last-child) {
                border-bottom: 1px solid black;
            }
        }
        .search-results-show {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: gray;
            border: 3px solid rgb(59,59,59);
            border-radius: 10px;
            margin-top: 5.5vmin;
            width: 15vmin;
            padding: 5px;
            transition: opacity .3s;
            opacity: 1;
            
            
        }
        .search-results-hide {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: gray;
            border-radius: 10px;
            margin-top: 5.5vmin;
            width: 15vmin;  
            opacity: 0;

            
        }
    }
}