.pokemon-table {
  background-color: rgb(240, 240, 240);
  margin: 10vmin auto;
  margin-top: 25vmin;
  width: 600px;
  border: 15px solid rgb(54, 54, 54);
  border-radius: 30px;
  border-spacing: 0;
}
.pokemon-table tr {
  display: grid;
  grid-template-areas: "number sprite name type1 type2";
  grid-template-rows: 1fr;
  grid-template-columns: 5% 3fr 6fr 4fr 4fr;
  gap: 2rem;
  align-items: center;
  padding: 0.5rem 1rem;
}
.pokemon-table tr .entry {
  font-size: 22px;
  font-family: monospace;
  grid-area: number;
  padding: 0.5rem;
  width: 2rem;
}
.pokemon-table tr .entry-1000s {
  grid-area: number;
  font-size: 22px;
  font-family: monospace;
  padding: 0.5rem 0;
  width: 3rem;
  letter-spacing: -1px;
  text-align: center;
}
.pokemon-table tr .art {
  max-width: 75%;
  font-size: 20px;
  grid-area: sprite;
  border-radius: 20px;
  padding: 10px;
}
.pokemon-table tr .name {
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  grid-area: name;
  padding: 5%;
  min-width: 100%;
  max-width: 100%;
}
.pokemon-table tr .name a {
  color: rgb(36, 35, 35);
  transition: hover 0.2s;
}
.pokemon-table tr .name a:hover {
  color: rgb(1, 128, 202);
  border-bottom: 2px solid rgb(1, 117, 184);
}
.pokemon-table tr .type {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -1.5px;
  /* text-shadow: 
      -1px -1px 1px #000,  
      1px -1px 1px #000,
      -1px 1px 1px #000,
      1px 1px 1px #000; */
  padding: 5%;
  justify-self: center;
  font-size: 1.5rem;
  height: 2rem;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
}
.pokemon-table tr .type1 {
  grid-area: type1;
}
.pokemon-table tr .type2 {
  grid-area: type2;
}
.pokemon-table tr:not(:last-child) {
  border-bottom: 1px solid black;
}
.pokemon-table .col-titles {
  background: linear-gradient(rgba(230, 230, 230, 0.8), rgba(200, 200, 200, 0.8));
  border-radius: 30px 30px 0 0;
}
.pokemon-table .col-title {
  font-size: 19px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
}

/* Type Elements */
.type-fire {
  /* background-image: linear-gradient(rgba(250, 123, 63, 0.9), rgba(206, 101, 52, 0.9)); */
  color: rgb(255, 81, 0);
}

.type-grass {
  /* background-image: linear-gradient(rgb(124, 241, 130), rgb(108, 184, 105)); */
  color: rgb(1, 197, 11);
}

.type-water {
  /* background-image: linear-gradient(rgba(84, 213, 252, 0.85), rgba(58, 160, 185, 0.85)); */
  color: rgb(0, 162, 255);
}

.type-flying {
  /* background-image: linear-gradient(rgba(212, 204, 255, 0.9), rgba(172, 170, 204, 0.9)); */
  color: rgb(141, 131, 202);
}

.type-dark {
  /* background-image: linear-gradient(rgba(124, 67, 40, 0.8), rgba(83, 45, 27, 0.8)); */
  color: rgb(124, 67, 40);
}

.type-electric {
  /* background-image: linear-gradient(rgb(243, 227, 83), rgb(201, 188, 70)); */
  color: rgb(214, 193, 1);
}

.type-fighting {
  /* background-image: linear-gradient(rgba(189, 82, 56, 0.9), rgba(109, 35, 30, 0.9)); */
  color: rgb(189, 82, 56);
}

.type-normal {
  /* background-image: linear-gradient(rgba(189, 185, 156, 0.85), rgba(160, 157, 132, 0.85)); */
  color: rgb(155, 151, 120);
}

.type-rock {
  /* background-image: linear-gradient(rgba(146, 111, 64, 0.85), rgba(110, 83, 48, 0.85)); */
  color: rgb(156, 102, 31);
}

.type-ground {
  /* background-image: linear-gradient(rgba(180, 166, 102, 0.9), rgba(151, 139, 86, 0.9)); */
  color: rgb(170, 151, 68);
}

.type-poison {
  /* background-image: linear-gradient(rgb(187, 115, 235), rgb(152, 94, 190)); */
  color: rgb(167, 60, 238);
}

.type-psychic {
  /* background-image: linear-gradient(rgba(228, 111, 218, 0.85), rgba(192, 94, 184, 0.85)); */
  color: rgb(207, 100, 198);
}

.type-fairy {
  /* background-image: linear-gradient(rgb(247, 171, 240), rgb(206, 150, 201)); */
  color: rgb(236, 145, 227);
}

.type-dragon {
  /* background-image: linear-gradient(rgba(72, 25, 243, 0.85), rgba(71, 28, 200, 0.85)); */
  color: rgb(72, 25, 243);
}

.type-steel {
  /* background-image: linear-gradient(rgba(206, 205, 205, 0.9), rgba(160, 160, 160, 0.9)); */
  color: rgb(163, 163, 163);
}

.type-ice {
  /* background-image: linear-gradient(rgba(162, 236, 236, 0.9), rgba(140, 200, 200, 0.9)); */
  color: rgb(3, 209, 209);
}

.type-ghost {
  /* background-image: linear-gradient(rgba(129, 93, 211, 0.9), rgba(106, 82, 161, 0.9)); */
  color: rgb(129, 93, 211);
}

.type-bug {
  /* background-image: linear-gradient(rgba(187, 241, 61, 0.95), rgb(150, 190, 57, 0.95)); */
  color: rgb(144, 206, 1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  height: 8vh;
  margin-bottom: 2vh;
  gap: 1rem;
}
.navbar > div {
  height: 100%;
}
.navbar .buttons-frame {
  margin-top: 8vmin;
  display: flex;
  width: 100%;
  height: 80%;
  background-color: rgb(71, 71, 71);
  border: 8px solid rgb(71, 71, 71);
  border-radius: 15px;
  gap: 1rem;
}
.navbar .buttons-frame .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.85);
  background-color: rgb(138, 138, 138);
  height: 100%;
  width: 33%;
  font-size: 1.5rem;
  font-family: monospace;
  padding: 0.5rem;
  transition: hover 0.2s;
  transition: opacity 1s;
}
.navbar .buttons-frame .nav-button:hover {
  background-color: rgb(200, 200, 200);
  cursor: pointer;
}
.navbar .search-bar {
  margin-top: 8vmin;
  display: flex;
  justify-content: flex-end;
  width: 40%;
}
.navbar .search-bar > input {
  display: block;
  height: 80%;
  width: 100%;
  border-radius: 20px;
  font-family: monospace;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.85);
  background-color: rgb(70, 70, 70);
  border: 5px solid rgb(131, 131, 131);
  transition: 0.2s all;
}
.navbar .search-bar > input::-moz-placeholder {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.85);
}
.navbar .search-bar > input::placeholder {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.85);
}
.navbar .search-bar > input:focus {
  outline: none;
  border: 8px solid rgb(200, 200, 200);
}

#logo {
  display: flex;
  height: 20rem;
  width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-right: 3vmin;
}

#web-desc {
  color: rgb(236, 193, 52);
  text-shadow: -2px -2px 2px #0266d8, 2px -2px 2px #0266d8, -2px 2px 2px #0266d8, 2px 2px 2px #0266d8;
  font-size: 2.4rem;
  text-align: center;
  font-family: fantasy;
  font-style: italic;
}

#pokemon-enlarge {
  font-size: 3.5rem;
  border-bottom: 5px solid rgb(236, 193, 52);
  border-radius: 5%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  background-image: repeating-linear-gradient(25deg, #686868, #585858 10px, #585858 10px, #686868 20px);
  background-attachment: fixed;
  overflow-x: hidden;
  margin: 0;
  display: grid;
  place-items: center;
}/*# sourceMappingURL=main.css.map */