* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    background-image: linear-gradient(rgb(243, 232, 218) 20%, rgb(247, 232, 214) 100%);
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    'type data image'
    'type stats stats';
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 1fr 1fr;
}
.image {
    display: flex;
    justify-content: center;
    grid-area: image;
    max-height: 100%;
    max-width: 100%;
    border: 15px solid blue;
}
.image img {
    width: 50vmin;
    max-width: 100%;
}

.data {
    grid-area: data;
    max-height: 100%;
    max-width: 100%;
    border: 15px solid blueviolet;
}
.type-effects {
    grid-area: type;
    max-height: 100%;
    max-width: 100%;
    border: 15px solid aquamarine;
}
.stats {
    grid-area: stats;
    max-height: 100%;
    max-width: 100%;
    border: 15px solid brown;
}