{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Poke-Info</title>

        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>

        {% comment %} LOGO + WEB DESCRIPTION {% endcomment %}
        <header>
            <div>
                <img id="logo" src="{% static 'images/pokemon_logo.png' %}" alt="pokemon logo">
                <h1 id="web-desc">The best pokemon website!</h1>
            </div>
        </header>

        <div class="main">
            <div class='tabs-div'>
                <ul class='tabs-list'>
                    <li class="tab">Type Chart</li>
                    <li class="tab">Another tab</li>
                    <li class="tab">Pokedex</li>
                </ul>

            </div>
            <table class="pokemon-table">
                <tr class='col-titles'>
                    <td class='1 col-title'>Entry</td>
                    <td class='2 col-title'>Sprite</td>
                    <td class='3 col-title'>Name</td>
                    <td class='4 col-title'>Type 1</td>
                    <td class='5 col-title'>Type 2</td>

                </tr>
                {% for mon in data %}
                    <tr>
                        {% if forloop.counter < 1000 %}
                        <td class="entry">
                            {% if forloop.counter < 10 %}
                                00{{ forloop.counter }}
                            {% elif forloop.counter < 100 %}
                                0{{ forloop.counter }}
                            {% else %}
                                {{ forloop.counter }}
                            {% endif %}
                        </td>
                        {% else %}
                            <td class='entry-1000s'>
                                {{ forloop.counter }}
                            </td>
                        {% endif %}
                        
                        {% comment %} POKEMON IMAGE {% endcomment %}
                        <td><img class="art" src="{{ mon.src }}" alt="{{ mon.name }}"></td>

                        {% comment %} POKEMON NAME {% endcomment %}
                        <td class="name">{{ mon.name }}</td>

                        {% comment %} POKEMON TYPE 1 {% endcomment %}
                        <td class="type type1 type-{{ mon.type1|lower }}">{{ mon.type1 }}</td>

                        {% comment %} POKEMON TYPE 2 {% endcomment %}
                        {% if mon.type2 != '' %}   
                        <td class="type type2 type-{{ mon.type2|lower }}">{{ mon.type2 }}</td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
    </html>