{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Poke-Info</title>

        <link rel="stylesheet" href="{% static 'css/main-page/main.css' %}">
    </head>
    <body>

        {% comment %} LOGO + WEB DESCRIPTION {% endcomment %}
        <header>
            <div>
                <img id="logo" src="{% static 'images/pokemon_logo.png' %}" alt="pokemon logo">
                <h1 id="web-desc">The best <span id="pokemon-enlarge">POKÉMON</span> website!</h1>
            </div>
        </header>

        <div class="main">
            <div class="tabs-barrr">
                
            </div>
            <nav class="navbar">
                <div class="buttons-frame">
                    <div class="nav-button">About</div>
                    <div class="nav-button">Type<br>Chart</div>
                </div> 
                <div class="search-bar">
                    <input id="search-bar" type="text" placeholder="Search">
                    <div id="search-results" class="search-results-hide"></div>
                </div>
            </nav>

            {% comment %} Wiki Table {% endcomment %}
            <div class="top-frame">

            </div>
            <table class="pokemon-table">

                {% comment %} Wiki Table Titles {% endcomment %}
                <tr class='col-titles'>
                    <td class='col-title'>Entry</td>
                    <td class='col-title'>Sprite</td>
                    <td class='col-title'>Name</td>
                    <td class='col-title'>Type 1</td>
                    <td class='col-title'>Type 2</td>
                </tr>

                {% comment %} Wiki Table POKEMON {% endcomment %}
                {% for mon in pokemon %}
                    <tr>
                        {% if forloop.counter < 1000 %}
                            <td class="entry">
                                {% if forloop.counter < 10 %}
                                    00{{ mon.entry }}
                                {% elif forloop.counter < 100 %}
                                    0{{ mon.entry }}
                                {% else %}
                                    {{ mon.entry }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td class='entry-1000s'>
                                {{ mon.entry }}
                            </td>
                        {% endif %}
                        
                        {% comment %} POKEMON IMAGE {% endcomment %}
                        <td><img class="art" src="{{ mon.sprite }}" alt="{{ mon.name }}"></td>

                        {% comment %} POKEMON NAME {% endcomment %}
                        <td class="name"><a href="{% url 'wiki-page-name' name=mon.name %}">{{ mon.name }}</a></td>

                        {% comment %} POKEMON TYPE 1 {% endcomment %}
                        <td class="type type1 type-{{ mon.type1|lower }}">{{ mon.type1 }}</td>

                        {% comment %} POKEMON TYPE 2 {% endcomment %}
                        {% if mon.type2 != '' %}   
                            <td class="type type2 type-{{ mon.type2|lower }}">{{ mon.type2 }}</td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
<script>
    const searchBar = document.querySelector('#search-bar');
    const searchResultsDiv = document.querySelector('#search-results');

    MAXLENGTH = 10;
    const names = [];

    {% for mon in pokemon %}
        names.push('{{ mon.name }}');
    {% endfor %}

    searchBar.addEventListener('input', (e) => {
        const value = e.target.value
    
        //searchResultsDiv.innerHTML = ''
        //searchResultsDiv.style.opacity = '0'
        searchResultsDiv.innerHTML = ''
        searchResultsDiv.classList.remove('search-results-show')
        searchResultsDiv.classList.add('search-results-hide')
        


        if (value.length >= 2){
    
            const matchingNames = names.filter(name => name.toLowerCase().includes(value))
            
            if (matchingNames.length > 0) {
                //searchResultsDiv.style.opacity = '1'
                searchResultsDiv.classList.remove('search-results-hide')
                searchResultsDiv.classList.add('search-results-show')
            }
    
            matchingNames.sort()

            const firstTenNames = matchingNames.slice(0, 10);
    
            firstTenNames.forEach(name => {
                const a = document.createElement('a')
                a.href = `wiki/${name}`
                a.textContent = name
                a.classList = 'search-result'
                searchResultsDiv.appendChild(a)
    
            })

        }
        
    })
    document.addEventListener('click', (element) => {
        if (!searchResultsDiv.contains(element.target) && !searchBar.contains(element.target)) {
            searchResultsDiv.classList.remove('search-results-show')
            searchResultsDiv.classList.add('search-results-hide')
        }
    })
    searchBar.addEventListener('click', () => {
        if (searchBar.value.length >= 2) {
            searchResultsDiv.classList.remove('search-results-hide')
            searchResultsDiv.classList.add('search-results-show')
        }
    })
    
    
</script>