{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/wiki-page/wiki-page.css' %}">
    <title>Actual Page</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="buttons-frame">
                <div class="nav-button">Home</div>
                <div class="nav-button">Type Chart</div>
            </div> 
            <div class="search-bar">
                <input id="search-bar" type="search" placeholder="Search">
                <div id="search-results"></div>
            </div>
        </nav>
    </header>
    <div class="form-switcher">
        <ul class="form-list">
            {% for mon in pokemon %}
                {% for image in mon.images %}
                    <li class="form-item" data-image="{{ image }}">Form {{ forloop.counter }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    <main class="container">
        {% for mon in pokemon %}
        <div class="image">
            <img id="mon-image" src="{{ mon.images|first }}" alt="pokemon">
        </div>
        <div class="data">
            <div class="name">{{ mon.name }}</div>
            <div class="type">
                <div class="type-1 {{ mon.type1|lower }}">{{ mon.type1 }}</div>
                {% if mon.type2 %}
                <div class="type-2 {{ mon.type2|lower }}">{{ mon.type2 }}</div>
                {% endif %}
            </div>
            {% if mon.entry < 10 %}
                <div class="dex-entry"><span>00{{ mon.entry }}</span><img class="pokeball" src="{% static 'images/pokedex-logo.png' %}" alt="pokeball"></div>
            {% elif mon.entry < 100 %}
            <div class="dex-entry"><span>0{{ mon.entry }}</span><img class="pokeball" src="{% static 'images/pokedex-logo.png' %}" alt="pokeball"></div>
            {% else %}
            <div class="dex-entry"><span>{{ mon.entry }}</span><img class="pokeball" src="{% static 'images/pokedex-logo.png' %}" alt="pokeball"></div>
            {% endif %}
            
        
        </div>
        <h1 class="absolute-stats-title">Stats</h1>
        <div class="stats">
            <div class="stat">
                <span class="stat-key">Hp</span><span class="stat-value">{{ mon.hp }}</span><span class="stat-bar" style="background-color: {{ mon.hp|calculate_color }}; width: {{ mon.hp|divide_and_multiply:255}}%"></span>
            </div>
            <div class="stat">
                <span class="stat-key">Attack</span><span class="stat-value">{{ mon.attack }}</span><span class="stat-bar" style="background-color: {{ mon.attack|calculate_color }}; width: {{ mon.attack|divide_and_multiply:255}}%"></span>
            </div>
            <div class="stat">
                <span class="stat-key">Defense</span><span class="stat-value">{{ mon.defense }}</span><span class="stat-bar" style="background-color: {{ mon.defense|calculate_color }}; width: {{ mon.defense|divide_and_multiply:255}}%"></span>
            </div>
            <div class="stat">
                <span class="stat-key">Sp. Attack</span><span class="stat-value">{{ mon.spattack }}</span><span class="stat-bar" style="background-color: {{ mon.spattack|calculate_color }}; width: {{ mon.spattack|divide_and_multiply:255}}%"></span>
            </div>
            <div class="stat">
                <span class="stat-key">Sp. Defense</span><span class="stat-value">{{ mon.spdefense }}</span><span class="stat-bar" style="background-color: {{ mon.spdefense|calculate_color }}; width: {{ mon.spdefense|divide_and_multiply:255}}%"></span>
            </div>
            <div class="stat">
                <span class="stat-key">Speed</span><span class="stat-value">{{ mon.speed }}</span><span class="stat-bar" style="background-color: {{ mon.speed|calculate_color }}; width: {{ mon.speed|divide_and_multiply:255}}%"></span>
            </div>
            <div class="stat-total">
                <span class="stat-key">Total</span><span class="stat-value">{{ mon.total }}</span>
            </div>

        </div>

        
        <div class="type-effects">
            <h1 class="section-title">Type Effectiveness</h1>
            <div class="type-effects-div">
                <div class="fourx">
                    <div class="type-effects-title"><h2>4</h2></div>
                    <div class="type-effects-inner-div">
                        {% for i in mon.fourx %}
                        <span class="{{i.lower}}">{{ i|upper|slice:":3" }}</span> 
                        {% endfor %}         
                    </div>
                </div>
                <div class="twox">
                    <div class="type-effects-title"><h2>2</h2></div>
                    <div class="type-effects-inner-div">
                        {% for i in mon.twox %}
                        <span class="{{i.lower}}">{{ i|upper|slice:":3" }}</span> 
                        {% endfor %}   
                    </div>
                </div>
                
                <div class="onex">
                    <div class="type-effects-title"><h2>1</h2></div>
                    <div class="type-effects-inner-div">
                        {% for i in mon.onex %}
                        <span class="{{i.lower}}">{{ i|upper|slice:":3" }}</span> 
                        {% endfor %}   
                    </div>
                </div>
                <div class="halfx">
                    <div class="type-effects-title"><h2>0.5</h2></div>
                    <div class="type-effects-inner-div">
                        {% for i in mon.halfx %}
                        <span class="{{i.lower}}">{{ i|upper|slice:":3" }}</span> 
                        {% endfor %}   
                    </div>
                </div>
                <div class="zerox">
                    <div class="type-effects-title"><h2>0</h2></div>
                    <div class="type-effects-inner-div">
                        {% for i in mon.zerox %}
                        <span class="{{i.lower}}">{{ i|upper|slice:":3" }}</span> 
                        {% endfor %}   
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </main> 
</body>
</html>
<script src="{% static 'js/app.js' %}"></script>
<script>
    const searchBar = document.querySelector('#search-bar');
    console.log(searchBar);
</script>