{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/wiki-page.css" %}">
    <title>Actual Page</title>
</head>
<body>
    <main class="container">
        <div class="image">
            <img src="https://static.wikia.nocookie.net/pokemon/images/2/2c/416Vespiquen.png" alt="pokemon">
        </div>
        <div class="data"></div>
        <div class="stats"></div>
        <div class="type-effects"></div>
    </main>
</body>
</html>