{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page</title>
        <link rel="stylesheet" href="{% static 'css/wiki-page.css' %}">
    </head>
    <body>
        <main>
            <div class="pokemon-data">
                <h1 class="div-title"></h1>
                    <span class='data-row'>
                        <span class="entry-text">Dex Entry</span>
                        <span class="entry-num">0384</span>
                    </span>
                    <span class='data-row'>
                        <span>Type</span>
                        <span class="type type-1">Dragon</span>
                        <span class="type type-2">Flying</span>
                    </span>
            </div>
            <div class="pokemon-image">
                <img src="https://static.wikia.nocookie.net/pokemon/images/0/00/376MMetagross.png" alt="charizard">
                
            </div>
            <div class="type-effects">

            </div>
            <div class="pokemon-stats"></div>
        </main>
    </body>
</html>